/* src/Home/Home.css */
.gallery {
  padding: 10px;
  text-align: center;
}

.photos img {
  width: 200px;        /* Largura fixa */
  height: 200px;       /* Altura fixa */
  padding: 10px;
  object-fit: cover;   /* Cobre o contêiner mantendo a proporção */
}

.cta {
  padding: 20px;
  background-color: #f4f4f4;
}
